<div class="header_search">
  <form class="keyword" action="/" method="POST">
    <input type="text" name="search" placeholder="Enter keywords" required />
    <input type="submit" value="Search" />
  </form>

  <form class="filter" action="/" method="POST">
    <select name="country">
      <option value="" disabled selected hidden>Filter By Country</option>
      <option value="ar">Argentina</option>
      <option value="au">Australia</option>
      <option value="at">Austria</option>
      <option value="be">Belgium</option>
      <option value="br">Brazil</option>
      <option value="bg">Bulgaria</option>
      <option value="ca">Canada</option>
      <option value="cn">China</option>
      <option value="co">Columbia</option>
      <option value="cu">Cuba</option>
      <option value="cz">Czech Republic</option>
      <option value="eg">Egypt</option>
      <option value="fr">France</option>
      <option value="de">Germany</option>
      <option value="gr">Greece</option>
      <option value="hk">Hongkong</option>
      <option value="hu">Hungary</option>
      <option value="in">India</option>
      <option value="id">Indonesia</option>
      <option value="ie">Ireland</option>
      <option value="il">Israel</option>
      <option value="it">Italy</option>
      <option value="jp">Japan</option>
      <option value="lv">Latvia</option>
      <option value="lt"> Lithuania</option>
      <option value="my">Malaysia</option>
      <option value="mx">Mexico</option>
      <option value="ma">Morocco</option>
      <option value="nl">Netherlands</option>
      <option value="nz">New Zealand</option>
      <option value="ng">Nigeria</option>
      <option value="no">Norway</option>
      <option value="ph">Philippines</option>
      <option value="pl">Poland</option>
      <option value="pt">Portugal</option>
      <option value="ro">Romania</option>
      <option value="ru">Russia</option>
      <option value="sa">Saudi Arabia</option>
      <option value="rs">Serbia</option>
      <option value="sg">Singapore</option>
      <option value="sk">Slovakia</option>
      <option value="si">Slovenia</option>
      <option value="za">South Africa</option>
      <option value="kr">South Korea</option>
      <option value="se">Sweden</option>
      <option value="ch">Switzerland</option>
      <option value="tw">Taiwan</option>
      <option value="th">Thailand</option>
      <option value="tr">Turkey</option>
      <option value="ae">UAE</option>
      <option value="ua">Ukraine</option>
      <option value="gb">United Kingdom</option>
      <option value="us">United States</option>
      <option value="ve">Venuzuela</option>
    </select>
    <select name="category">
      <option value="" disabled selected hidden>Filter By Category</option>
      <option value="general">General</option>
      <option value="business">Business</option>
      <option value="entertainment">Entertainment</option>
      <option value="health">Health</option>
      <option value="science">Science</option>
      <option value="sports">Sports</option>
      <option value="technology">Technology</option>
    </select>
    <select name="language">
      <option value="" disabled selected hidden>Filter By Language</option>
      <option value="ar">Arabic</option>
      <option value="de">German</option>
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="fr">French</option>
      <option value="he">Hebrew</option>
      <option value="it">Italian</option>
      <option value="nl">Dutch</option>
      <option value="no">English</option>
      <option value="pt">Portuguese</option>
      <option value="ru">Russian</option>
      <option value="se">Northern Sami</option>
      <option value="zh">Chinese</option>
    </select>

    <input type="submit" value="Filter">
  </form>
</div>

